<h1 mat-dialog-title>Forgot password</h1>
<div mat-dialog-content>
  <form (ngSubmit)="submit()" [formGroup]="loginForm">
    <mat-error *ngIf="loginInvalid"> The email was not recognized </mat-error
    ><mat-form-field class="full-width-input">
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="username"
        readonly
        required
      />
      <mat-error> Please provide a valid email address </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <mat-error> Please provide a valid password </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
      />
      <mat-error> Please provide a matching password </mat-error>
    </mat-form-field>
    <div class="space-between-content">
      <a href="javascript:void(0)" class="sign-in">Sign in</a>
    </div>
  </form>
</div>
<div mat-dialog-actions class="space-between-content">
  <div class="flex">
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="loginAttempt"
    >
      Change Password
    </button>
    &nbsp;
    <mat-progress-spinner
      *ngIf="loginAttempt"
      mode="indeterminate"
      diameter="30"
    ></mat-progress-spinner>
  </div>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
