<div mat-dialog-title class="dialog-title">
  <h1>Photo - {{ photo.name }}</h1>
  <button mat-icon-button class="dialog-icon-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <img
    [src]="photo.url"
    [alt]="photo.caption"
    class="photo-cell"
    (load)="loaded()"
  />
</div>
<div mat-dialog-actions class="space-between-content">
  <button
    mat-icon-button
    class=""
    *ngIf="
      isAuthenticated &&
      (photo.createdBy === currentUser.id || isAdminRole(currentUser.role))
    "
    (click)="edit()"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-icon-button
    class=""
    color="warn"
    *ngIf="isAuthenticated && isAdminRole(currentUser.role)"
    (click)="delete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
